body, html{
  background-image: url('../assets/img/background.png');
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-repeat:no-repeat;
  -webkit-background-size: cover; /* For WebKit*/
  -moz-background-size: cover;    /* Mozilla*/
  -o-background-size: cover;      /* Opera*/
  background-size: cover;
  height: 100%;
  -webkit-user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

canvas{
  width: inherit;
  height: 100%;
  position: relative;
}

@-webkit-keyframes anim {
  0% {-webkit-transform: rotate(-15deg);}
  50% {-webkit-transform: rotate(15deg);}
  100% {-webkit-transform: rotate(-15deg);}
}

#victoryPannel {
  display: none;
}
#victoryPannel img{
  -webkit-animation: anim ease-in-out 500ms infinite;
}

.ui-page {
  height: 100%;
}

#outerGamePad {
  display: flex;
}

/* vertical and horizontal centering
http://stackoverflow.com/questions/17213113/vertical-centering-flexbox-overlay-in-ios-safari
*/
.outerWrapper {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position:fixed;
  height: 100%;
  width: 100%;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

.innerWrapper {
    margin: auto;
    position: relative;
}

::-webkit-input-placeholder{
  color:#a27320;
}

.gameIDInput {
  /*height: 100px;*/
  /*width: 400px;*/
  z-index: 10000;
  font-size: 40px;
  font-family: monospace;
  text-transform: uppercase;
  border: 5px solid #343013;
  background: #e6a651;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
  margin-bottom: 8px;
}

.joinGameButton {
  border: 4px solid #343013;
  background: #e6a651;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6a651), to(#e6a651));
  background: -webkit-linear-gradient(top, #e6a651, #e7a731);
  background: -moz-linear-gradient(top, #e6a651, #e6a651);
  background: -ms-linear-gradient(top, #e6a651, #e6a651);
  background: -o-linear-gradient(top, #e6a651, #e6a651);
  background-image: -ms-linear-gradient(top, #e6a651 0%, #e6a651 100%);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  -moz-box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  box-shadow: rgba(255,255,255,0.4) 0 0px 0, inset rgba(255,255,255,0.4) 0 0px 0;
  text-shadow: #addc7e 0 1px 0;
  color: #000000;
  padding: 8.5px 18px;
  font-size: 16px;
  text-decoration: none;
}

.hft-instruction {
  display: none;
}

.hft-portrait {
  display: none;
}

.ui-loader {
  display: none;
}
